
.warning-bar, .warning-bar-content {
    display: none!important;
}

.navbar-fixed {
    height: 1000px;
}

.page {
    position: static
}

.navbar-fixed .page-content, .navbar-through .page-content {
    padding-top: 0px;
}

.content-block {
    margin: 0 0;
}

/* Fix position of autocomplete dropdown  */
  .autocomplete-dropdown {
     /* margin-left: -20%; */ 
  }

.button { 
     margin-Top: 8px!important 
 }
 
.message .message-text {
    font-size: 15px!important ;
 }

.message-text {
  max-width: 400px;
}

.message-sent .message-text {
  background-color: #4d728e!important;
}
  
.view-left {
  border-right: 1px solid #b2b2b2;
}

.mgmlogo {
  margin-left: 95px!important;
}

.whitebackground {
  background-color: white!important;
}

/* iPad Vertical */
@media (min-width: 768px) {
  .panel.panel-left.panel-cover {
    width: 320px;
  }
}
/* iPad Horizontal */
@media (min-width: 1024px) {
  /* Let's hide panel-opener when left panel is visible */
  .view-main .navbar .open-panel {
    display: none;
  }
  
  /* Fix position of autocomplete dropdown due to left panel */
  .autocomplete-dropdown {
     /* margin-left: -320px; */
  }
}