/* === Messages === */
:root {
  --f7-message-text-header-text-color: inherit;
  --f7-message-text-header-opacity: 0.65;
  --f7-message-text-header-font-size: 12px;
  --f7-message-text-footer-text-color: inherit;
  --f7-message-text-footer-opacity: 0.65;
  --f7-message-text-footer-font-size: 12px;
  --f7-message-bubble-line-height: 1.2;
  --f7-message-header-font-size: 12px;
  --f7-message-footer-font-size: 11px;
  --f7-message-name-font-size: 12px;
  --f7-message-name-font-weight: inherit;
  --f7-message-avatar-border-radius: 50%;
  --f7-messages-title-font-weight: inherit;
  /*
  --f7-message-sent-bg-color: var(--f7-theme-color);
  */
  --f7-message-sent-text-color: #fff;
  --f7-messages-content-bg-color: #fff;
  --f7-message-typing-indicator-bg-color: #000;
  --f7-message-received-bg-color: #e5e5ea;
  --f7-message-received-text-color: #000;
}
:root .theme-dark,
:root.theme-dark {
  --f7-messages-title-text-color: rgba(255, 255, 255, 0.54);
  --f7-message-header-text-color: rgba(255, 255, 255, 0.54);
  --f7-message-name-text-color: rgba(255, 255, 255, 0.54);
  --f7-message-footer-text-color: rgba(255, 255, 255, 0.54);
  --f7-messages-content-bg-color: transparent;
  --f7-message-received-bg-color: #252525;
  --f7-message-received-text-color: #fff;
  --f7-message-typing-indicator-bg-color: #fff;
}
.ios {
  --f7-messages-title-text-color: rgba(0, 0, 0, 0.45);
  --f7-messages-title-font-size: 11px;
  --f7-message-header-text-color: rgba(0, 0, 0, 0.45);
  --f7-message-footer-text-color: rgba(0, 0, 0, 0.45);
  --f7-message-name-text-color: rgba(0, 0, 0, 0.45);
  --f7-message-avatar-size: 29px;
  --f7-message-margin: 10px;
  --f7-message-bubble-min-height: 32px;
  --f7-message-bubble-font-size: 17px;
  --f7-message-bubble-border-radius: 16px;
  --f7-message-bubble-padding-vertical: 6px;
  --f7-message-bubble-padding-horizontal: 16px;
  --f7-message-typing-indicator-opacity: 0.35;
}
.md {
  --f7-messages-title-font-size: 12px;
  --f7-message-avatar-size: 32px;
  --f7-message-margin: 16px;
  --f7-message-bubble-min-height: 32px;
  --f7-message-bubble-font-size: 16px;
  --f7-message-bubble-border-radius: 4px;
  --f7-message-bubble-padding-vertical: 6px;
  --f7-message-bubble-padding-horizontal: 8px;
  --f7-message-typing-indicator-opacity: 0.6;
  --f7-messages-title-text-color: rgba(0, 0, 0, 0.51);
  --f7-message-header-text-color: rgba(0, 0, 0, 0.51);
  --f7-message-footer-text-color: rgba(0, 0, 0, 0.51);
  --f7-message-name-text-color: rgba(0, 0, 0, 0.51);
}
.aurora {
  --f7-messages-title-font-size: 12px;
  --f7-message-avatar-size: 24px;
  --f7-message-margin: 10px;
  --f7-message-bubble-min-height: 28px;
  --f7-message-bubble-font-size: 13px;
  --f7-message-bubble-line-height: 1.4;
  --f7-message-bubble-border-radius: 14px;
  --f7-message-bubble-padding-vertical: 5px;
  --f7-message-bubble-padding-horizontal: 10px;
  --f7-message-typing-indicator-opacity: 0.5;
  --f7-messages-title-text-color: rgba(0, 0, 0, 0.51);
  --f7-message-header-text-color: rgba(0, 0, 0, 0.51);
  --f7-message-footer-text-color: rgba(0, 0, 0, 0.51);
  --f7-message-name-text-color: rgba(0, 0, 0, 0.51);
}
.messages-content,
.messages {
  background: var(--f7-messages-content-bg-color);
}
.messages {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  z-index: 1;
}
.messages-title,
.message {
  margin-top: var(--f7-message-margin);
}
.messages-title:last-child,
.message:last-child {
  margin-bottom: var(--f7-message-margin);
}
.messages-title {
  text-align: center;
  width: 100%;
  line-height: 1;
  color: var(--f7-messages-title-text-color);
  font-size: var(--f7-messages-title-font-size);
  font-weight: var(--f7-messages-title-font-weight);
}
.message {
  max-width: 70%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  transform: translate3d(0, 0, 0);
}
.message-avatar {
  border-radius: var(--f7-message-avatar-border-radius);
  position: relative;
  background-size: cover;
  align-self: flex-end;
  flex-shrink: 0;
  width: var(--f7-message-avatar-size);
  height: var(--f7-message-avatar-size);
}
.message-content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.message-header,
.message-footer,
.message-name {
  line-height: 1;
}
.message-header {
  color: var(--f7-message-header-text-color);
  font-size: var(--f7-message-header-font-size);
}
.message-footer {
  color: var(--f7-message-footer-text-color);
  font-size: var(--f7-message-footer-font-size);
  margin-bottom: -1em;
}
.message-name {
  color: var(--f7-message-name-text-color);
  font-size: var(--f7-message-name-font-size);
  font-weight: var(--f7-message-name-font-weight);
}
.message-bubble {
  box-sizing: border-box;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: var(--f7-message-bubble-line-height);
  font-size: var(--f7-message-bubble-font-size);
  border-radius: var(--f7-message-bubble-border-radius);
  padding: var(--f7-message-bubble-padding-vertical) var(--f7-message-bubble-padding-horizontal);
  min-height: var(--f7-message-bubble-min-height);
}
.message-image img {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
}
.message-text-header,
.message-text-footer {
  line-height: 1;
}
.message-text-header {
  color: var(--f7-message-text-header-text-color);
  opacity: var(--f7-message-text-header-opacity);
  font-size: var(--f7-message-text-header-font-size);
}
.message-text-footer {
  color: var(--f7-message-text-footer-text-color);
  opacity: var(--f7-message-text-footer-opacity);
  font-size: var(--f7-message-text-footer-font-size);
}
.message-text {
  text-align: left;
}
.message-sent {
  text-align: right;
  flex-direction: row-reverse;
  align-self: flex-end;
}
.message-sent .message-bubble {
  color: var(--f7-message-sent-text-color);
  background: var(--f7-message-sent-bg-color, var(--f7-theme-color));
}
.message-sent .message-content {
  align-items: flex-end;
}
.message-sent.message-tail .message-bubble {
  border-radius: var(--f7-message-bubble-border-radius) var(--f7-message-bubble-border-radius) 0 var(--f7-message-bubble-border-radius);
}
.message-received {
  flex-direction: row;
}
.message-received .message-bubble {
  color: var(--f7-message-received-text-color);
  background: var(--f7-message-received-bg-color);
}
.message-received .message-content {
  align-items: flex-start;
}
.message-received.message-tail .message-bubble {
  border-radius: var(--f7-message-bubble-border-radius) var(--f7-message-bubble-border-radius) var(--f7-message-bubble-border-radius) 0;
}
.message:not(.message-last) .message-avatar {
  opacity: 0;
}
.message:not(.message-first) .message-name {
  display: none;
}
.message.message-same-name .message-name {
  display: none;
}
.message.message-same-header .message-header {
  display: none;
}
.message.message-same-footer .message-footer {
  display: none;
}
.message-appear-from-bottom {
  animation: message-appear-from-bottom 300ms;
}
.message-appear-from-top {
  animation: message-appear-from-top 300ms;
}
.message-typing-indicator {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}
.message-typing-indicator > div {
  display: inline-block;
  position: relative;
  background: var(--f7-message-typing-indicator-bg-color);
  opacity: var(--f7-message-typing-indicator-opacity);
  vertical-align: middle;
  border-radius: 50%;
}
@keyframes message-appear-from-bottom {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes message-appear-from-top {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.ios .messages-title b,
.ios .message-header b,
.ios .message-footer b,
.ios .message-name b {
  font-weight: 600;
}
.ios .message-header,
.ios .message-name {
  margin-bottom: 3px;
}
.ios .message-footer {
  margin-top: 3px;
}
.ios .message-bubble {
  min-width: 48px;
}
.ios .message-image {
  margin: var(--f7-message-bubble-padding-vertical) calc(-1 * var(--f7-message-bubble-padding-horizontal));
}
.ios .message-image:first-child {
  margin-top: calc(-1 * var(--f7-message-bubble-padding-vertical));
}
.ios .message-image:first-child img {
  border-top-left-radius: var(--f7-message-bubble-border-radius);
  border-top-right-radius: var(--f7-message-bubble-border-radius);
}
.ios .message-image:last-child {
  margin-bottom: calc(-1 * var(--f7-message-bubble-padding-vertical));
}
.ios .message-image:last-child img {
  border-bottom-left-radius: var(--f7-message-bubble-border-radius);
  border-bottom-right-radius: var(--f7-message-bubble-border-radius);
}
.ios .message-text-header {
  margin-bottom: 3px;
}
.ios .message-text-footer {
  margin-top: 3px;
}
.ios .message-received {
  margin-left: calc(10px + var(--f7-safe-area-left));
}
.ios .message-received .message-header,
.ios .message-received .message-footer,
.ios .message-received .message-name {
  margin-left: var(--f7-message-bubble-padding-horizontal);
}
.ios .message-received .message-bubble {
  padding-left: calc(var(--f7-message-bubble-padding-horizontal) + 6px);
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m96 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/></svg>") 50% 42% 46% 56%;
}
.ios .message-received .message-image {
  margin-left: calc(-1 * (var(--f7-message-bubble-padding-horizontal) + 6px));
}
.ios .message-received.message-tail:not(.message-typing) .message-bubble {
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m96 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/><path d='m0 70c6-2 12-10 12-19v-16l14 27s-8 8-26 8z'/></svg>") 50% 42% 46% 56%;
}
.ios .message-received.message-tail:not(.message-typing) .message-bubble .message-image:last-child img {
  border-bottom-left-radius: 0px;
}
.ios .message-sent {
  margin-right: calc(10px + var(--f7-safe-area-right));
}
.ios .message-sent .message-header,
.ios .message-sent .message-footer,
.ios .message-sent .message-name {
  margin-right: var(--f7-message-bubble-padding-horizontal);
}
.ios .message-sent .message-bubble {
  padding-right: calc(var(--f7-message-bubble-padding-horizontal) + 6px);
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m84 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/></svg>") 50% 56% 46% 42%;
}
.ios .message-sent .message-image {
  margin-right: calc(-1 * (var(--f7-message-bubble-padding-horizontal) + 6px));
}
.ios .message-sent.message-tail .message-bubble {
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m84 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/><path d='m96 70c-6-2-12-10-12-19v-16l-14 27s8 8 26 8z'/></svg>") 50% 56% 46% 42%;
}
.ios .message-sent.message-tail .message-bubble .message-image:last-child img {
  border-bottom-right-radius: 0px;
}
.ios .message + .message:not(.message-first) {
  margin-top: 1px;
}
.ios .message-received.message-typing .message-content:after,
.ios .message-received.message-typing .message-content:before {
  content: '';
  position: absolute;
  background: var(--f7-message-received-bg-color);
  border-radius: 50%;
}
.ios .message-received.message-typing .message-content:after {
  width: 11px;
  height: 11px;
  left: 4px;
  bottom: 0px;
}
.ios .message-received.message-typing .message-content:before {
  width: 6px;
  height: 6px;
  left: -1px;
  bottom: -4px;
}
.ios .message-typing-indicator > div {
  width: 9px;
  height: 9px;
}
.ios .message-typing-indicator > div + div {
  margin-left: 4px;
}
.ios .message-typing-indicator > div:nth-child(1) {
  animation: ios-message-typing-indicator 900ms infinite;
}
.ios .message-typing-indicator > div:nth-child(2) {
  animation: ios-message-typing-indicator 900ms 150ms infinite;
}
.ios .message-typing-indicator > div:nth-child(3) {
  animation: ios-message-typing-indicator 900ms 300ms infinite;
}
@keyframes ios-message-typing-indicator {
  0% {
    opacity: 0.35;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.2;
  }
}
.md .messages-title b,
.md .message-header b,
.md .message-footer b,
.md .message-name b {
  font-weight: 500;
}
.md .message-header,
.md .message-name {
  margin-bottom: 2px;
}
.md .message-footer {
  margin-top: 2px;
}
.md .message-text-header {
  margin-bottom: 4px;
}
.md .message-text-footer {
  margin-top: 4px;
}
.md .message-received.message-tail .message-bubble:before,
.md .message-sent.message-tail .message-bubble:before {
  position: absolute;
  content: '';
  bottom: 0;
  width: 0;
  height: 0;
}
.md .message-received {
  margin-left: calc(8px + var(--f7-safe-area-left));
}
.md .message-received .message-avatar + .message-content {
  margin-left: var(--f7-message-bubble-padding-horizontal);
}
.md .message-received.message-tail .message-bubble:before {
  border-left: 8px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 8px solid var(--f7-message-received-bg-color);
  right: 100%;
}
.md .message-sent {
  margin-right: calc(8px + var(--f7-safe-area-right));
}
.md .message-sent .message-avatar + .message-content {
  margin-right: var(--f7-message-bubble-padding-horizontal);
}
.md .message-sent.message-tail .message-bubble:before {
  border-left: 0 solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--f7-message-sent-bg-color, var(--f7-theme-color));
  left: 100%;
}
.md .message + .message:not(.message-first) {
  margin-top: 8px;
}
.md .message-typing-indicator > div {
  width: 6px;
  height: 6px;
}
.md .message-typing-indicator > div + div {
  margin-left: 6px;
}
.md .message-typing-indicator > div:nth-child(1) {
  animation: md-message-typing-indicator 900ms infinite;
}
.md .message-typing-indicator > div:nth-child(2) {
  animation: md-message-typing-indicator 900ms 150ms infinite;
}
.md .message-typing-indicator > div:nth-child(3) {
  animation: md-message-typing-indicator 900ms 300ms infinite;
}
@keyframes md-message-typing-indicator {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0%);
  }
}
.aurora .messages-title b,
.aurora .message-header b,
.aurora .message-footer b,
.aurora .message-name b {
  font-weight: 500;
}
.aurora .message-header,
.aurora .message-name {
  margin-bottom: 2px;
}
.aurora .message-footer {
  margin-top: 2px;
}
.aurora .message-text-header {
  margin-bottom: 2px;
}
.aurora .message-text-footer {
  margin-top: 2px;
}
.aurora .message-received.message-tail .message-bubble:before,
.aurora .message-sent.message-tail .message-bubble:before {
  position: absolute;
  content: '';
  bottom: 0;
  width: 0;
  height: 0;
}
.aurora .message-image {
  margin: var(--f7-message-bubble-padding-vertical) calc(-1 * var(--f7-message-bubble-padding-horizontal) + 4px);
}
.aurora .message-image:first-child {
  margin-top: calc(-1 * var(--f7-message-bubble-padding-vertical) + 4px);
}
.aurora .message-image:first-child img {
  border-top-left-radius: var(--f7-message-bubble-border-radius);
  border-top-right-radius: var(--f7-message-bubble-border-radius);
}
.aurora .message-image:last-child {
  margin-bottom: calc(-1 * var(--f7-message-bubble-padding-vertical) + 4px);
}
.aurora .message-image:last-child img {
  border-bottom-left-radius: var(--f7-message-bubble-border-radius);
  border-bottom-right-radius: var(--f7-message-bubble-border-radius);
}
.aurora .message-received {
  margin-left: calc(16px + var(--f7-safe-area-left));
}
.aurora .message-received .message-avatar + .message-content {
  margin-left: 5px;
}
.aurora .message-received .message-header,
.aurora .message-received .message-footer,
.aurora .message-received .message-name {
  margin-left: var(--f7-message-bubble-padding-horizontal);
}
.aurora .message-received.message-tail .message-bubble:before {
  border-left: 6px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 6px solid var(--f7-message-received-bg-color);
  right: 100%;
  transform: translate(2px, 0px) rotate(-15deg);
  transform-origin: right bottom;
}
.aurora .message-sent {
  margin-right: calc(16px + var(--f7-safe-area-right));
}
.aurora .message-sent .message-avatar + .message-content {
  margin-right: 5px;
}
.aurora .message-sent .message-header,
.aurora .message-sent .message-footer,
.aurora .message-sent .message-name {
  margin-right: var(--f7-message-bubble-padding-horizontal);
}
.aurora .message-sent.message-tail .message-bubble:before {
  border-left: 0 solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--f7-message-sent-bg-color, var(--f7-theme-color));
  left: 100%;
  transform: translate(-2px, 0px) rotate(15deg);
  transform-origin: left bottom;
}
.aurora .message + .message:not(.message-first) {
  margin-top: 5px;
}
.aurora .message-typing-indicator > div {
  width: 6px;
  height: 6px;
}
.aurora .message-typing-indicator > div + div {
  margin-left: 4px;
}
.aurora .message-typing-indicator > div:nth-child(1) {
  animation: aurora-message-typing-indicator 900ms infinite;
}
.aurora .message-typing-indicator > div:nth-child(2) {
  animation: aurora-message-typing-indicator 900ms 150ms infinite;
}
.aurora .message-typing-indicator > div:nth-child(3) {
  animation: aurora-message-typing-indicator 900ms 300ms infinite;
}
@keyframes aurora-message-typing-indicator {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0%);
  }
}
/* === Messagebar === */
:root {
  --f7-messagebar-shadow-image: none;
  --f7-messagebar-textarea-bg-color: transparent;
  --f7-messagebar-attachments-height: 155px;
  --f7-messagebar-attachment-height: 155px;
  --f7-messagebar-attachment-landscape-height: 120px;
  --f7-messagebar-sheet-height: 252px;
  --f7-messagebar-sheet-landscape-height: 192px;
  /*
  --f7-messagebar-inner-padding-left: var(--f7-toolbar-inner-padding-left);
  --f7-messagebar-inner-padding-right: var(--f7-toolbar-inner-padding-right);
  */
  --f7-messagebar-bg-color: #fff;
  --f7-messagebar-bg-color-rgb: 255, 255, 255;
}
:root .theme-dark,
:root.theme-dark {
  --f7-messagebar-bg-color: var(--f7-bars-bg-color);
  --f7-messagebar-bg-color-rgb: var(--f7-bars-bg-color-rgb);
}
.ios {
  --f7-messagebar-height: 44px;
  --f7-messagebar-font-size: 17px;
  /*
  --f7-messagebar-link-color: var(--f7-theme-color);
  */
  --f7-messagebar-border-color: transparent;
  --f7-messagebar-textarea-border-radius: 17px;
  --f7-messagebar-textarea-padding: 6px 16px;
  --f7-messagebar-textarea-height: 34px;
  --f7-messagebar-textarea-font-size: 17px;
  --f7-messagebar-textarea-line-height: 20px;
  --f7-messagebar-sheet-bg-color: #d1d5da;
  --f7-messagebar-attachment-border-radius: 12px;
  --f7-messagebar-textarea-text-color: #000;
  --f7-messagebar-textarea-border: 1px solid #c8c8cd;
  --f7-messagebar-attachments-border-color: #c8c8cd;
}
.ios .theme-dark,
.ios.theme-dark {
  --f7-messagebar-textarea-text-color: #fff;
  --f7-messagebar-textarea-border: 1px solid var(--f7-bars-border-color);
  --f7-messagebar-attachments-border-color: var(--f7-bars-border-color);
}
.md {
  --f7-messagebar-height: 48px;
  --f7-messagebar-font-size: 16px;
  --f7-messagebar-textarea-border-radius: 0px;
  --f7-messagebar-textarea-padding: 5px 8px;
  --f7-messagebar-textarea-height: 32px;
  --f7-messagebar-textarea-font-size: 16px;
  --f7-messagebar-textarea-line-height: 22px;
  --f7-messagebar-textarea-border: 1px solid transparent;
  --f7-messagebar-sheet-bg-color: #fff;
  --f7-messagebar-attachment-border-radius: 4px;
  --f7-messagebar-link-color: #333;
  --f7-messagebar-border-color: #d1d1d1;
  --f7-messagebar-textarea-text-color: #333;
  --f7-messagebar-attachments-border-color: #ddd;
}
.md .theme-dark,
.md.theme-dark {
  --f7-messagebar-border-color: transparent;
  --f7-messagebar-link-color: rgba(255, 255, 255, 0.87);
  --f7-messagebar-textarea-text-color: rgba(255, 255, 255, 0.87);
  --f7-messagebar-attachments-border-color: rgba(255, 255, 255, 0.2);
}
.aurora {
  --f7-messagebar-height: 38px;
  --f7-messagebar-font-size: 14px;
  /*
  --f7-messagebar-link-color: var(--f7-theme-color);
  */
  --f7-messagebar-border-color: transparent;
  --f7-messagebar-textarea-border-radius: 12px;
  --f7-messagebar-textarea-padding: 3px 10px;
  --f7-messagebar-textarea-height: 24px;
  --f7-messagebar-textarea-font-size: 13px;
  --f7-messagebar-textarea-line-height: 16px;
  --f7-messagebar-sheet-bg-color: #fff;
  --f7-messagebar-attachment-border-radius: 12px;
  --f7-messagebar-textarea-text-color: #000;
  --f7-messagebar-textarea-border: 1px solid #c8c8cd;
  --f7-messagebar-attachments-border-color: #c8c8cd;
}
.aurora .theme-dark,
.aurora.theme-dark {
  --f7-messagebar-textarea-text-color: #fff;
  --f7-messagebar-textarea-border: 1px solid var(--f7-bars-border-color);
  --f7-messagebar-attachments-border-color: var(--f7-bars-border-color);
}
.messagebar {
  transform: translate3d(0, 0, 0);
  background: var(--f7-messagebar-bg-color);
  height: auto;
  min-height: var(--f7-messagebar-height);
  font-size: var(--f7-messagebar-font-size);
  padding-bottom: var(--f7-safe-area-bottom);
  bottom: 0;
}
.messagebar:before {
  content: '';
  position: absolute;
  background-color: var(--f7-messagebar-border-color);
  display: block;
  z-index: 15;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  height: 1px;
  width: 100%;
  transform-origin: 50% 0%;
  transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}
.messagebar:after {
  content: '';
  position: absolute;
  right: 0;
  width: 100%;
  bottom: 100%;
  height: 8px;
  top: auto;
  pointer-events: none;
  background: var(--f7-messagebar-shadow-image);
}
@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  .ios-translucent-bars .messagebar {
    background-color: rgba(var(--f7-messagebar-bg-color-rgb), var(--f7-bars-translucent-opacity));
    -webkit-backdrop-filter: saturate(180%) blur(var(--f7-bars-translucent-blur));
            backdrop-filter: saturate(180%) blur(var(--f7-bars-translucent-blur));
  }
}
.messagebar.no-hairline:before,
.messagebar.no-border:before {
  display: none !important;
}
.messagebar.no-shadow:after,
.messagebar.toolbar-hidden:after {
  display: none !important;
}
.messagebar .toolbar-inner {
  top: auto;
  position: relative;
  height: auto;
  bottom: auto;
  padding-left: calc(var(--f7-messagebar-inner-padding-left, var(--f7-toolbar-inner-padding-left)) + var(--f7-safe-area-left));
  padding-right: calc(var(--f7-messagebar-inner-padding-right, var(--f7-toolbar-inner-padding-right)) + var(--f7-safe-area-right));
}
.messagebar.messagebar-sheet-visible > .toolbar-inner {
  bottom: 0;
}
.messagebar .messagebar-area {
  width: 100%;
  flex-shrink: 1;
  overflow: hidden;
  position: relative;
}
.messagebar textarea {
  width: 100%;
  flex-shrink: 1;
  background-color: var(--f7-messagebar-textarea-bg-color);
  border-radius: var(--f7-messagebar-textarea-border-radius);
  padding: var(--f7-messagebar-textarea-padding);
  height: var(--f7-messagebar-textarea-height);
  color: var(--f7-messagebar-textarea-text-color);
  font-size: var(--f7-messagebar-textarea-font-size);
  line-height: var(--f7-messagebar-textarea-line-height);
  border: var(--f7-messagebar-textarea-border);
}
.messagebar a.link {
  align-self: flex-end;
  flex-shrink: 0;
  color: var(--f7-messagebar-link-color, var(--f7-theme-color));
}
.messagebar-attachments {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 0;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
}
.messagebar:not(.messagebar-attachments-visible) .messagebar-attachments {
  display: none;
}
.messagebar-attachment {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  height: var(--f7-messagebar-attachment-height);
  position: relative;
  border-radius: var(--f7-messagebar-attachment-border-radius);
}
@media (orientation: landscape) {
  .messagebar-attachment {
    height: var(--f7-messagebar-attachment-landscape-height);
  }
}
.messagebar-attachment img {
  display: block;
  width: auto;
  height: 100%;
  border-radius: var(--f7-messagebar-attachment-border-radius);
}
.messagebar-attachment + .messagebar-attachment {
  margin-left: 8px;
}
.messagebar-sheet {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  height: var(--f7-messagebar-sheet-height);
  background-color: var(--f7-messagebar-sheet-bg-color);
  padding-left: var(--f7-safe-area-left);
  padding-right: var(--f7-safe-area-right);
}
@media (orientation: landscape) {
  .messagebar-sheet {
    height: var(--f7-messagebar-sheet-landscape-height);
  }
}
.messagebar-sheet-image,
.messagebar-sheet-item {
  box-sizing: border-box;
  flex-shrink: 0;
  margin-top: 1px;
  position: relative;
  overflow: hidden;
  height: calc((var(--f7-messagebar-sheet-height) - 2px) / 2);
  width: calc((var(--f7-messagebar-sheet-height) - 2px) / 2);
  margin-left: 1px;
}
@media (orientation: landscape) {
  .messagebar-sheet-image,
  .messagebar-sheet-item {
    width: calc((var(--f7-messagebar-sheet-landscape-height) - 2px) / 2);
    height: calc((var(--f7-messagebar-sheet-landscape-height) - 2px) / 2);
  }
}
.messagebar-sheet-image .icon-checkbox,
.messagebar-sheet-item .icon-checkbox,
.messagebar-sheet-image .icon-radio,
.messagebar-sheet-item .icon-radio {
  position: absolute;
  right: 8px;
  bottom: 8px;
}
.messagebar-sheet-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.messagebar-attachment-delete {
  display: block;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.messagebar-attachment-delete:after,
.messagebar-attachment-delete:before {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
}
.messagebar-attachment-delete:after {
  transform: rotate(45deg);
}
.messagebar-attachment-delete:before {
  transform: rotate(-45deg);
}
.messagebar:not(.messagebar-sheet-visible) .messagebar-sheet {
  display: none;
}
.messagebar ~ * {
  --f7-page-toolbar-bottom-offset: var(--f7-messagebar-height);
}
.ios .messagebar a.link.icon-only:first-child {
  margin-left: -8px;
}
.ios .messagebar a.link.icon-only:last-child {
  margin-right: -8px;
}
.ios .messagebar a.link:not(.icon-only) + .messagebar-area {
  margin-left: 8px;
}
.ios .messagebar .messagebar-area + a.link:not(.icon-only) {
  margin-left: 8px;
}
.ios .messagebar-area {
  margin-top: 5px;
  margin-bottom: 5px;
}
.ios .messagebar-attachments {
  padding: 5px;
  border-radius: var(--f7-messagebar-textarea-border-radius) var(--f7-messagebar-textarea-border-radius) 0 0;
  border: 1px solid var(--f7-messagebar-attachments-border-color);
  border-bottom: none;
}
.ios .messagebar-attachments-visible .messagebar-attachments + textarea {
  border-radius: 0 0 var(--f7-messagebar-textarea-border-radius) var(--f7-messagebar-textarea-border-radius);
}
.ios .messagebar-attachment {
  font-size: 14px;
}
.ios .messagebar-attachment-delete {
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  background: #7d7e80;
  border: 2px solid #fff;
}
.ios .messagebar-attachment-delete:after,
.ios .messagebar-attachment-delete:before {
  width: 10px;
  height: 2px;
  background: #fff;
  margin-left: -5px;
  margin-top: -1px;
}
.md .messagebar-attachments {
  padding: 8px;
  border-bottom: 1px solid var(--f7-messagebar-attachments-border-color);
}
.md .messagebar-area {
  margin-top: 8px;
  margin-bottom: 8px;
}
.md .messagebar-sheet-image .icon-checkbox,
.md .messagebar-sheet-item .icon-checkbox {
  border-color: #fff;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.md .messagebar-attachment-delete {
  right: 8px;
  top: 8px;
  width: 24px;
  height: 24px;
  background-color: var(--f7-theme-color);
  border-radius: 4px;
}
.md .messagebar-attachment-delete:after,
.md .messagebar-attachment-delete:before {
  width: 14px;
  height: 2px;
  background: #fff;
  margin-left: -7px;
  margin-top: -1px;
}
.aurora .messagebar a.link + .messagebar-area {
  margin-left: 5px;
}
.aurora .messagebar .messagebar-area + a.link {
  margin-left: 5px;
}
.aurora .messagebar-area {
  margin-top: 5px;
  margin-bottom: 5px;
}
.aurora .messagebar-sheet-image .icon-checkbox,
.aurora .messagebar-sheet-item .icon-checkbox {
  background: rgba(255, 255, 255, 0.25);
}
.aurora .messagebar-attachments {
  padding: 5px;
  border-radius: var(--f7-messagebar-textarea-border-radius) var(--f7-messagebar-textarea-border-radius) 0 0;
  border: 1px solid var(--f7-messagebar-attachments-border-color);
  border-bottom: none;
}
.aurora .messagebar-attachments-visible .messagebar-attachments + textarea {
  border-radius: 0 0 var(--f7-messagebar-textarea-border-radius) var(--f7-messagebar-textarea-border-radius);
}
.aurora .messagebar-attachment {
  font-size: 14px;
}
.aurora .messagebar-attachment-delete {
  right: 5px;
  top: 5px;
  width: 14px;
  height: 14px;
  background: #808080;
}
.aurora .messagebar-attachment-delete:after,
.aurora .messagebar-attachment-delete:before {
  width: 8px;
  height: 1px;
  background: #fff;
  margin-left: -4px;
  margin-top: -1px;
}